svg {
    background: white;
}

.button {
    color: blue;
}

.label {
    fill: white;
    font-family: sans-serif;
    font-size: 11px;
    text-anchor: middle;
}

#page {
    position: absolute;
    top: 5px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

#chart-container {
    display: flex;
    flex: 1;
    text-align: center;
}

#chart {
    display:flex;
    flex: 1 1 1000px;
    justify-content: center;
    align-items: center;
    background: lightgray;
    overflow: hidden;
}

.mesh {
    stroke: lightblue;
    stroke-width: 1px;
    fill:white;
}

.country {
    stroke: none;
    fill:none;
    pointer-events: fill;
}

.dispute {
    stroke: none;
    fill: none;
}

.subnat {
    stroke: none;
    fill: none;
}

.active {
    stroke: lightblue;
    stroke-width: 1px;
}